celery==4.3.0
certifi==2018.1.18
coverage==4.5.4
dj-database-url==0.5.0
Django==2.2.6
django-celery-beat==1.5.0
django-environ==0.4.5
django-mongodb-engine==0.6.0
django-timezone-field==3.1
djangotoolbox==1.8.0
djongo==1.2.36
flake8==3.7.8
flake8-django==0.0.4
flower==0.9.3
gunicorn==19.9.0
mongoengine==0.18.2
more-itertools==7.2.0
psycopg2-binary==2.8.4
pycodestyle==2.5.0
pycrypto==2.6.1
pyflakes==2.1.1
pymongo==3.4.0
pyserial==3.4
python-crontab==2.3.9
python-dateutil==2.8.0
pytz==2019.3
redis==3.3.11
requests==2.22.0
tenacity==5.1.1
urllib3==1.22
virtualenv==16.6.0
whitenoise==4.1.4
