{% block content %}
    <section class="flex-column" id="simple-footer">
        <footer>
            <div class="container">
                <div class="row d-flex">
                    <div class="col my-auto">
                        <p class="my-auto text-left">Robert &amp; Roy Co.</p>
                    </div>
                    <div class="col">
                        <p class="my-auto text-right">© 2019 Instascore<br></p>
                    </div>
                </div>
            </div>
        </footer>
    </section>
{% endblock %}