{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <section id="header">
        <nav class="navbar navbar-light navbar-expand-md" id="custom-navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="color:rgba(255,251,251,0.9);margin-right:auto;margin-left:auto;">Brand</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                    <i class="icon ion-android-more-vertical" id="menu-icon"></i>
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <div class="navbar-collapse collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home' %}" style="color:rgba(255,252,252,0.9);">Matches</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'live-matches' %}" style="color:rgba(255,252,252,0.9);">Live</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'match-highlights' %}" style="color:rgba(255,252,252,0.9);">Highlights</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
{% endblock %}